
*{
    font-family: 'Open Sans', sans-serif;
    line-height: 150%;
    margin: 0px;
    overflow: scroll;
}

nav {
    display:flex;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
    color:black;
    position: relative;
    height: 78px;
    width: 100%;
    position: fixed;
    top:0;

}

nav img {
    height: 60px;
    position: absolute;
    left: 5px;
    background-repeat: no-repeat;
}

nav h2 {
    position:absolute;
    left: 80px;
}

.right-nav {
    display:flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.right-nav li {
    color: black;
    text-decoration: none;
    display:inline-flex;
    padding: 10px;

}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.separator {
    display: flex;
    justify-content: center;

}

.separator-line {
    height: 10px;
    width: 35%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 30px;
}

main {
    margin-top: 78px;
}

.home-page {
    background-image: url(./pictures/NYC-pic.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

.home-text {
    background-color: rgba(237, 231, 231, 0.5);
    text-align: center;
    padding: 10px;
    color: black;
    border-radius: 5%;
    width: 45%;
    margin: 55px;
    height: 450px;
    display: flex;
    font-weight: bolder;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}


.services-overview {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 25px;

}

.again {
    font-size: 125%;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    padding: 20px;

}

.services-listed {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
    
}

.service-des {
    width: 25%;
    max-height: 450px;
    margin: 20px;
    max-width: 75%;
    border: 1px solid black;
    border-radius: 5%;
    padding: 20px;
    
}

.service-des:hover {
    background-color:blanchedalmond;
}

.About {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    text-align: justify;
    padding: 25px;
    
}

.about-content p {
    line-height: 175%;
}

#headshot {
    border-radius: 5%;
    display: flex;
}


.writing {
    background-color: antiquewhite;
}

#recent-proj {
    padding: 25px;
    text-align: center;
}
.recent-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.proj {
    border: 1px solid black;
    max-width: 300px;
    padding: 20px;
    margin: 5px;
}


.proj h2 {
    text-decoration: underline;
}

.proj h4 {
    font-style: italic;
}

.contact {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    flex-wrap: wrap;
    
}

.contact-content {
    max-width: 50%;
}

.contact-info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 25px;
    font-size: 120%;
}

footer {

    text-align: center;
    color: white;
    background-color:#006bb3;
    font-size: 125%;
    padding: 40px;
}

